/* timer */

.timer {
	width: 400px;
	text-align: center;
}

.timer__button-block {
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
}

/* timer modal */

.timer-modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  transition: 1;
}

.timer-modal__dialog {
  position: relative;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  color: #808080;
  border-radius: 10px;
  font-size: 22px;
  background-color: #dedede;
  animation-name: animate-timer-modal;
  animation-duration: .4s;
}

.timer-modal__header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.timer-modal__content {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 6px;
}

.timer-modal__content input {
  border: 1px solid #b3b2b2;
  border-radius: 8px;
  color: #808080;
  padding: 8px;
  font-size: 20px;
  width: 100%;
  margin: 0px 6px;
  transition: 0.4s;
}

.timer-modal__content input:focus {
  border: 1px solid #1e62d0;
}

.timer-modal__footer {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
}

.timer-modal__footer button {
  margin: 0 6px;
}

@keyframes animate-timer-modal {
  from {top: -300px; opacity: 0}
  to {top: 32%; opacity: 1}
}

/* end-timer modal */

.end-timer-modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  transition: 1;
}

.end-timer-modal__dialog {
  position: relative;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  color: #808080;
  border-radius: 10px;
  font-size: 22px;
  background-color: #dedede;
  animation-name: animate-end-timer-modal;
  animation-duration: .4s;
}

.end-timer-modal__header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.end-timer-modal__content {
  height: 150px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 6px;
}

.end-timer-modal__footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

@keyframes animate-end-timer-modal {
  from {top: -300px; opacity: 0}
  to {top: 32%; opacity: 1}
}