/* tab */

.tab {
  display: flex;
}

.tab__nav {
  min-width: 200px;
  background-color: #fff;
}

.tab__link {
  height: 50px;
  display: flex;
  align-items: center;
  color: #808080;
  padding-left: 14px;
  font-size: larger;
  cursor: pointer;
  transition: .4s;
}

.tab__link:hover {
  background-color: #f8f8f8;
}

.tab__link .material-icons {
  font-size: 30px;
  margin-right: 10px;
}

.tab__link.tab__link_active {
  background-color: #f0f2f5;
}

.tab__content {
  display: none;
  color: #808080;
  animation: fade-effect .6s;
  justify-content: center;
  align-items: center;
  font-size: 74px;
  width: 100%;
}

.tab__content.tab__content_active {
  display: flex;
}

@keyframes fade-effect {
  from {opacity: 0;}
  to {opacity: 1;}
}