body.active-dark-mode {
  background-color: #18191a;
}

body.active-dark-mode header {
  background-color: #242526;
  box-shadow: 0px 1px 5px 0px rgba(255,255,255,0.3);
}

body.active-dark-mode .tab__nav {
  background-color: #242526;
}

body.active-dark-mode .tab__link {
  color: #fff;
}

body.active-dark-mode .tab__link.tab__link_active {
  background-color: #18191a;
}

body.active-dark-mode .tab__content {
  color: #fff;
}

body.active-dark-mode .calculator__output {
  background-color: #808080;
}

body.active-dark-mode .tab__link:hover {
  background-color: #18191a;;
}